.image-banner {
  background-image: url("../../../../assets/catan.jpg");
}

button {
  height: 8vh;
  width: 13vw;
  font-size: 1.5vw;
  background-color: #121212;
  // color: #00bcd4;
  color: #FF8F00;
  opacity: .85;
  white-space: pre-wrap !important;
}
