<div class="route-content">
  <div class="left-big-text">
    <h1>Games | Movies | Tech</h1>
  </div>
  <div class="right-small-text">
    <p>Old Fashioned Nerds is a podcast where two friends discuss all things nerdy and drink all things whiskey.
      We are Kevin and CJ, and we're ready to ramble our way into your ears discussing everything a nerdy thirty-something needs to know.
      If you have a comment or an idea for our next episode, <a href="https://discord.gg/pYwNJwXFKv" aria-label="discord link">join our discord</a> or <a href="mailto:nerds@oldfashionednerds.com" aria-label="contact us" tabindex="0">drop us a line</a>.</p>
  </div>
</div>
