

.route-content {
  flex-direction: row;
  height: 40vh;
  background-color: #121212;
}

.left-big-text, .right-small-text {
  width: 45vw;
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.left-big-text {
  align-items: center;
  // color: #00bcd4;
  color: #FF8F00;
  h1 {
    font-family: 'Great Vibes', sans-serif;
    font-size: 5vw;
  }
}

.right-small-text {
  align-items: flex-start;
  width: 35vw;
  color: lightgray;
  p {
    font-size: 20px;
    height: 100%;
    a {
      // color: #00bcd4;
      color: #FF8F00;
    }
  }
}
