.image-banner {
  width: 100vw;
  height: 45vh;
  background-image: url("../../../../assets/cocktail.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.large-text {
  font-size: 4.5vw;
  margin: 0 2rem;
}
