.image-banner {
  background-image: url("../../../../assets/circuit.jpg");
}

.route-content {
  flex-direction: row;
  height: 55vh;
  background-color: #121212;
}

.kevin-headshot {
  background-image: url("../../../../assets/Kevin.jpg");
  height: 45vh;
  width: 25vw;
  background-position:top;
  background-size: cover;
}

.right-small-text {
  width: 45vw;
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.right-small-text {
  align-items: flex-start;
  width: 35vw;
  color: lightgray;
  p {
    font-size: 20px;
    height: 100%;
  }
}
