.route-content {
  flex-direction: column;
  height: 100vh;
}

.image-banner {
  background-image: url("../../../../assets/studio.jpg");
  background-position:bottom;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  button {
    margin: 1rem;
    color: white;
  }
  h1 {
    font-family: 'Great Vibes', sans-serif;
    font-size: 72px;
    justify-self: center;
    align-self: center;
    color: #FF8F00;
  }
}
.episode-list {
  background-color: #121212;
  height: 60vh;
  max-width: 100% !important;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  p {
    line-height: normal;
    width: 95vw;
    text-align: center;
  }
}
