@import '../../../../variables.scss';

.route-content {
  flex-direction: column;
  height: 100vh;
}

.image-banner {
  background-image: url("../../../../assets/studio.jpg");
  background-position:bottom;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  button {
    margin: 1rem;
    color: white;
  }
  h1 {
    font-family: 'Great Vibes', sans-serif;
    font-size: 72px;
    justify-self: center;
    align-self: center;
    color: #FF8F00;
  }
}
.episode-list {
  background-color: #121212;
  height: 60vh;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  iframe {
    width: 75vw;
  }
}

@media only screen and (min-width: $large + 1px) {
  .episode-list iframe {
    width: 75vw;
  }
}

@media only screen and (min-width: $medium + 1px) and (max-width: $large) {
  .episode-list iframe {
    width: 80vw;
  }
}

@media only screen and (min-width: $small + 1px) and (max-width: $medium) {
  .episode-list iframe {
    width: 95vw;
  }
}

@media only screen and (max-width: $small) {
  .episode-list iframe {
    width: 95vw;
  }
}

@media only screen and (max-width: $iphone-ls) and (orientation:landscape) {
  .episode-list iframe {
    width: 85vw;
  }
}
