@import '../../../../variables.scss';

.route-content {
  background-color: $dark-mode-bg;
}

.headshot {
  background-image: url("../../../../assets/Ceej.jpg");
  background-position:top;
  background-size: cover;
}

.right-small-text {
  margin: 1rem;
}
