<div class="route-content">
  <span class="spacer"></span>
  <div class="social-icons">
    <span class="social-icon">
      <a href="https://www.instagram.com/oldfashionednerds" target="_blank">
        <img src="../../../../assets/ig_icon.png" alt="instagram icon">
      </a>
    </span>
    <span class="social-icon">
      <a href="https://open.spotify.com/show/6wVbUHG4HNTRWblIo4R8Dn?si=UcU5oAfMSOS2uJThEw2u4g&dl_branch=1" target="_blank">
        <img src="../../../../assets/spotify_logo.png" alt="spotify icon">
      </a>
    </span>
    <span class="social-icon">
      <a href="https://discord.gg/pYwNJwXFKv" target="_blank">
        <img src="../../../../assets/Discord-Logo-Color.svg" alt="Discord icon">
      </a>
    </span>
    <span class="social-icon">
      <a href="https://twitter.com/OlFashionedNerd" target="_blank">
        <img src="../../../../assets/twitter_icon.png" alt="twitter icon">
      </a>
    </span>
  </div>
  <a href="mailto:nerds@oldfashionednerds.com" aria-label="contact us" tabindex="0">
    <mat-icon>email</mat-icon>
  </a>
</div>
