@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './variables.scss';

html, body { height: 100%; overflow-x: hidden; }
body { margin: 0; font-family: 'Montserrat', Roboto, "Helvetica Neue", sans-serif; }
.spacer {
  flex: 1 1 auto;
}

.great-vibes {
  font-family: 'Great Vibes', cursive !important;
}

.linkify {
  cursor: pointer !important;
}

.route-content {
  width: 100vw;
  max-width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.right-small-text {
  width: 45vw;
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  align-items: flex-start;
  color: lightgray;
  p {
    font-size: 20px;
    height: 100%;
  }
}

.headshot {
  margin: 1rem 0 0;
}

@media only screen and (min-width: $large + 1px) {
  .image-banner {
    width: 100vw;
    max-width: 100% !important;
    height: 45vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:inset 0px 0px 15rem rgba(0,0,0,.7);
  }
  .route-content {
    height: 55vh;
  }
  .headshot {
    height: 45vh;
    width: 60vh;
  }
  .right-small-text {
    width: 45vw;
  }
}

@media only screen and (min-width: $medium + 1px) and (max-width: $large) {
  .image-banner {
    width: 100vw;
    max-width: 100% !important;
    height: 55vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:inset 0px 0px 15rem rgba(0,0,0,.7);
  }
  .route-content {
    height: 60vh;
  }
  .headshot {
    height: 50vh;
    width: 40vw;
  }
  .right-small-text {
    width: 45vw;
  }
}

@media only screen and (min-width: $small + 1px) and (max-width: $medium) {
  .image-banner {
    width: 100vw;
    max-width: 100% !important;
    height: 55vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:inset 0px 0px 15rem rgba(0,0,0,.7);
  }
  .route-content {
    height: 75vh;
    flex-direction: column;
  }
  .headshot {
    height: 384px;
    width: 50vw;
  }
  .right-small-text {
    width: 45vw;
  }
}

@media only screen and (max-width: $small) {
  .image-banner {
    width: 100vw;
    max-width: 100% !important;
    height: 85vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:inset 0px 0px 15rem rgba(0,0,0,.7);
  }
  .route-content {
    height: 100%;
    flex-direction: column;
  }
  .headshot {
    height: 75vh;
    width: 50vw;
  }
  .right-small-text {
    width: 75vw;
    margin: 1rem;
  }
}

@media only screen and (max-width: $small) and (orientation: portrait) {
  .image-banner {
    width: 100vw;
    max-width: 100% !important;
    height: 65vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:inset 0px 0px 15rem rgba(0,0,0,.7);
  }
  .route-content {
    height: 100%;
    flex-direction: column;
  }
  .headshot {
    height: 40vh;
    width: 50vw;
  }
  .right-small-text {
    width: 75vw;
  }
}

@media only screen and (max-width: $iphone-ls) and (orientation:landscape) {
  .image-banner {
    width: 100vw;
    max-width: 100% !important;
    height: 65vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:inset 0px 0px 15rem rgba(0,0,0,.7);
  }
  .route-content {
    height: 100%;
    flex-direction: column;
  }
  .headshot {
    height: 384px;
    width: 50vw;
  }
  .right-small-text {
    width: 75vw;
  }
}
